*{
    border: 0px;
    margin: 0px;
}
.main-header{
    height: 100px;
    width: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    letter-spacing: 3px;
    z-index: 9;
    box-sizing: border-box;
    
    
}
.main-header ul li{
    list-style-type: none;
    display: inline;
    font-size:30px;
    font-family: fantasy;
    padding-left: 100px;
}
.main-header ul{
    display: flex;
    gap: 20px;
    right: 100px;
    padding-top: 20px;
    padding-right:100px;
    word-spacing: 10px;

}

.main-header ul li a{
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s;
    

}
.main-header ul li a:hover{
    background-color: rgb(196, 39, 39);
    padding: 5px 10px;
    border-radius: 200px;
}
.logo{
    height:100px;
    width:100px;
    border-radius: 100px;

}
.adog{
    display: flex;
}
.black{
    width: 700px;
}
footer .containerboot{
    background-color: rgb(3, 3, 49);
}

.row{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px
}
.footer-col ul{
    list-style: none;
}

.footer-col h4{
    color: white;
    margin-bottom: 25px;
    font-size: 22px;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}

.footer-col h4::before{
    content: '';
    width: 70px;
    height: 2px;
    position: absolute;
    background-color: #e91e64;
    bottom: -10px;
}

.footer-col ul li{
    padding: 10px 0;
}
.footer-col ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.5s;
}
.footer-col ul li a:hover{
    opacity: 1;
}
.footer-col input{
    border: none;
    width: 250px;
    height: 45px;
    display: block;
    padding-left: 20px;
    margin: 14px 0;
}

.footer-col .inputSubmit{
    padding: 0px 20px;
    background-color: #e91e64;
    border: none;
    color: white;
}
.col p{
    color: white;
}


@media (max-width: 600px){
    footer .row{
        flex-direction: column;
        padding: 20px 30px;
    }

    footer .footer-col ul{
        margin-left: 20px;
        margin-bottom: 20px;

    }

    footer .footer-col ul{
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .footer-col input{
        width: 100%;
    }
}