.container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;


}
.container2 .box3{
    height: 550px;
    width: 400px;
    border: 1px solid white;
    gap: 2px;
    border-radius: 50px;
    background-color: rgb(3, 1, 1);

}
.container2 .box3 .img{
    border: radius 50px;
}
img{
    height: 300px;
    width: 400px;
    border-radius: 50px;
}

.container2 .box3 .para{
    color: white;
}
.container3{
    height: 200px;
    border: 0px solid rgb(218, 213, 213);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.container1{
    height: 250px;
    border: 2px solid rgb(236, 225, 225);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}









